<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathon.golo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignIn"
            android:theme="@style/MTheme.NoActionBar" />
        <activity
            android:name=".CreateAccount"
            android:theme="@style/MTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:theme="@style/MTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity
            android:name=".MainTabActivity"
            android:label="@string/title_activity_multiple" />
        <activity
            android:name=".normalactivity.PlanningActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityEmptyWithBackToolBar"
            android:label="@string/app_name"
            android:theme="@style/MTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".normalactivity.ExplorerDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PromotionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PromotionDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AccountFollowDetailActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".LocalGuideActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ItinerariesActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>